<h6><%=h content_for(:title, "Contact Me / Blaz Sajovic") %></h6>
<div class="row">
	<div class="large-12 small-12 columns">
		<div class="glava" style="display:none;">
			<h3>My Contact</h3>
		</div>
	</div>
</div>	

<div class="row">
	<div class="large-12 columns">
		
	<br/>
	<h4 class="blink" style="text-align:center;color:red;font-weight:bold;font-size:16px;">Form doesn't work! Still Under construction!</h4><br><h5 style="text-align:center;font-size:14px;">
	Thank you for understanding</h5>
		<form>
			<fieldset>
			<legend style="background-color:rgba(240, 240, 240, 0.0);font-size:12px;">Fell free to ask anything</legend>
				<div class="row">			
					<div class="large-6 small-12 columns">
						<label>Name</label>	
						<input type="text" placeholder="First Name">
					</div>	
					<div class="large-6 small-12 columns">
						<label>Email</label>
						<input type="text" placeholder="email@example.com">	
					</div>
				</div>	
				<div class="row">
	
					<div class="large-12 columns">
					<label>Website</label>
						<div class="row collapse">
							<div class="large-5 columns">
							
							<span class="prefix">http://</span>
							</div>
						<div class="large-7 columns">	
							<input type="text" placeholder="sajovic.me">
						</div>
					</div>
				
						<label>Subject</label>
						<textarea placeholder="..."></textarea>	
						<%= link_to :Send, "#", class: "button secondary small prefix" %>
					
				</div>			
			</fieldset>	
		</form>	
		
	</div>
</div>


<div class="row">
<div style="height:350px;position:relative;"></div>

</div>