<h6><%=h content_for(:title, "Contact Me / Blaz Sajovic") %></h6>
<div class="row">
	<div class="large-12 small-12 columns">
		<div class="glava">
			<h3>My Contact</h3>
		</div>
	</div>
</div>	

<div class="row">
	<div class="large-12 columns">
		
			

		<form>
			<fieldset>
			<legend style="background-color:rgba(240, 240, 240, 0.0);">I don't bite"</legend>
				<div class="row">			
					<div class="large-6 small-12 columns">	
						<input type="text" placeholder="First Name">
					</div>	
					<div class="large-6 small-12 columns">
						<input type="text" placeholder="email@example.com">	
					</div>
				</div>	
				<div class="row">
	
					<div class="large-12 columns">
						<div class="row collapse">
							<div class="large-5 columns">
							<span class="prefix">your website</span>
							</div>
						<div class="large-7 columns">	
							<input type="text" placeholder="wwwwsaas-sd,com">
						</div>
					</div>
				
						<label>pisi sm kar </label>
						<textarea placeholder="napisisissss"></textarea>	
					
				</div>			
			</fieldset>	
		</form>	
		
	</div>
</div>


<div class="row">
<div style="height:350px;position:relative;"></div>

</div>