<div class="row">
	<div class="large-12 columns">
		<div class="glava">
			<h3>Who is Blaz?</h3>
			<p><span>Ruby on Rails</span> Developer, Computer repair tehnician and many other amazing things.</p>
		</div>
	</div>
</div>
<br/>
<!--Sekcija opis: opis-->	
<div class="row">
	<div class="large-7 columns">
		<div class="panel about_me">
			<img src="assets/me.jpg" alt="Blaz Sajovic">	
			<p>Blaz Sajovic's computer adventure started at the age of ten. He initially worked on computer components and later started computing services, repair and maintenance. Soon he began discovering network and in year 2006 made his first web page in Dreamweaver. In the same year he finished with web productions and start again in May 2013. First project was written in html and css languages but after he acquire sufficient amount of skills he continued working with php, JavaScript, jQuery and Ajax. Finally after months of hard work, in august 2013, he focused on Ruby on Rails and now continues his growth in web design.</p>
		</div>
	</div>

<!--Sekcija opis: hobiji-->
	<div class="large-5 columns">
		<div class="panel hobbi">
			<img src="assets/me-park.jpg" alt="Postulovski park Postojnska Jama">
			<h4>Blaz's Favorite Things</h4>
			<ul class="side-nav circle">
				<li>Working out at the GYM</li>
				<li>Wild adventures in nature</li>
				<li>Playing football</li>
				<li>Working with electronics and computers</li> 
				<li>Many other amazing things...</li>
				<li class="divider"></li>
				<p>"And the best football team and player"</p>
				<li>Manchester United</li>
				<li>Wayne Rooney</li>
			</ul>	
		</div>
	</div>	
</div>

<!--Sekcija opis: workers-->
<div class="row">

	<div class="large-10 columns">
		<div class="glava">
			<h3>Our Team</h3>
			<p>Visit <span><%= link_to "Spletko.eu", "http://spletko.eu", :target => 
			"_blank", :class => "link" %></span> Computers services and web page builders.</p>
			<img class="logo" src="assets/logo.png" alt="računalniške storitve, spletko.eu">
		</div>
	</div>


</div>

