<h6><%=h content_for(:title, "All My Work And Projects / Blaz Sajovic") %></h6>
<div class="row">

<div class="large-10 columns">
	<div class="section-container auto" data-section>
		<section class="active">
			<p class="title" data-section-title><a href="#panel1">section 1</a></p>
			<div class="content" data-section-content>
				<p>content secion 1</p>
			</div>
		</section>
			
		<section>
    		<p class="title" data-section-title><a href="#panel2">Section 2</a></p>
    		<div class="content" data-section-content>
      			<p><%= link_to 'New Blog', new_blog_path %></p>
    		</div>
  		</section>
	</div>	
</div>



		
			
<a href="#" data-reveal-id="news">KLIKNI K</a>		


</div>





		<div id="news" class="reveal-modal">
			<p></p>
			<a href="#" class="button">Klikni za novice</a>
			<a class="close-reveal-modal">&times;</a>
		</div>