<div class="row">
	<div class="large-12 columns">
		<div class="glava">
			<h3>Who is that?</h3>
			<p><span>Ruby on rails</span> Developer and Commputers services and some other good staff</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-7 columns">
		<div class="panel about_me">
			<img src="assets/me.jpg" alt="Blaz Sajovic">	
			<p>Blaž Sajovic's commputers 
			adventure started as young arround 10 years old 
			working on computers components
			servisiranjem računalnikov in spoznavanjem neetwork world-a 
			In year 2006 he made first web page in dreamweaver, in the sam year he finish with web productions and start again on may 2013. First project was made in html , css leaungages.In august started with ruby on rails hgjhgjhgjhjhjhgjhgjhgjhgjhgjhjhjhgjh
			asdsdkfjklsdjfkjsdfjlsdfksddgjhgjhghjhgjhgjhgjhgjhgj



			</p>

		</div>
	</div>


	<div class="large-5 columns">
		<div class="panel hobbi">
			<img src="assets/me-park.jpg">
			<h4>Blaz's Favorite Things</h4>
			<ul>
				<li>Working in GYM</li>
				<li>Playing football</li>
				<p>And of course</p>
				<li>Manchester United</li>
			</ul>	
		</div>
	</div>	

</div>