<h6><%=h content_for(:title, "All My Work And Projects / Blaz Sajovic") %></h6>


<div class="row">
	<div class="large-12 columns">
		<div class="section-container auto" data-section>
			<section class="active">
				<p class="title" data-section-title><a href="#panel1">Projects</a></p>
				<div class="content" data-section-content>
					ilij
				</div>
			
			</section>
			
			<section>
    			<p class="title" data-section-title><a href="#panel2">References</a></p>
    			<div class="content" data-section-content>
					<% for project in @projects %>
					<ul class="work-list">
						<li><%= project.content.html_safe %></li>
					</ul>
					<hr/>


					<% end %> 
				</div>
    		
  			</section>

			<section>
    			<p class="title" data-section-title><a href="#panel2">Work</a></p>
    			<div class="content" data-section-content>
      				<% for work in @works %>
      				<ul class="work-list">
      					<li><%= work.content.html_safe %></li>
      				</ul>
  					<% end %>	
    			</div>
  			</section>
		</div>
	</div>
</div>





