/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.tabela {
	font-size: 12px;
}
.prijava {
	
	background-color:rgba(240, 240, 240, 0.8);	
	.legend {
		box-shadow: -2px 2px 3px 1px #ccc;
	}
}	