/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

/* Style for Social icons on right side */


body .fix {position:fixed !important;position:absolute;top:180px;float:right;right:-10px;}

.social {
		z-index: 2;
		background: rgba(255, 255, 255, 0.7);
		width:110px;
		border-radius:10px;
		margin:0;
		margin-right:10px;
		li {
			list-style:none;padding-left:32px;height:27px;line-height:27px;padding-top:4px;
			p {
				font-size:12px;
				letter-spacing:1px;
				margin:0;
				&:hover {
					font-size:11px;
					border-bottom:1px dotted #FAC207;
					width:70px;
					letter-spacing:2px;
				}
			}	
		}
		h1 {
			font-size:13px;
			text-align:center;
			font-weight:bolder;
			letter-spacing:2px;
			font-family: 'Cantora One';
			color: black;

		}
			.twitter {
				background:url("/assets/social/twitter.png") no-repeat;
				&:hover {
					background-position:0px -26px;
					transition:all 0.2s ease-in-out;
				}
			}
			.facebook {
				background:url("/assets/social/fb.png") no-repeat;

				&:hover {
					background-position:0px -26px;
					transition:all 0.2s ease-in-out;
				}
			}
			.skype {
				background:url("/assets/social/skype.png") no-repeat;
				&:hover {
					background-position:0px -26px;
					transition:all 0.2s ease-in-out;
				}
			}
			.github {
				background:url("/assets/social/github.png") no-repeat;
				&:hover {
					background-position:0px -26px;
					transition:all 0.2s ease-in-out;
				}
			}
			.linkedin {
				background:url("/assets/social/linkedin.png") no-repeat;
				&:hover {
					background-position:0px -26px;
					transition:all 0.2s ease-in-out;
				}
			}
			.zapri {
				cursor:pointer;
				margin:0 90px;
				&:hover {
					color:#FAC207;
					transition:all 0.2s ease-in-out;
				}
			}	

}






.admin-area {
	.welcome {
		font-color:white;
	}
	.smejko {
		color:red;
	}
	.ime {
		Color:blue;
	}
}
.msg {
color:blue;
letter-spacing:2px;
}
.menu {	
	z-index:-1 !important;
	width:200px;
	font-size:18px;
	letter-spacing:2px;
	color: #132781;

		li {
			text-align:center;background:#F0F0F0;width:120px;border-radius:15px;
			color: #000013;
			font-family: family;
				& :hover {
					color:#313131;
					text-shadow: -2px 1px 5px #000000;
					filter: dropshadow(color=#000000, offx=-2, offy=1);
					-webkit-transition: all 0.6s ease-in-out;
					-moz-transition: all 0.6s ease-in-out;
					-o-transition: all 0.6s ease-in-out;
					transition: all 0.6s ease-in-out;
				}
		}
}	



.all_quotes {
	display:none;
}
.quotes {
	width:200px;
	
	h6 {
		font-size:20px;
		font-family: 'Indie Flower', cursive;
		text-align:center;
		border-bottom:3px dotted #F2F2F2;
		color:black;
	}
	h5 {
		font-size:13px;
		font-family: family;
		color:black;font-weight: bold;text-align:center;
		font-weight:bolder;background-color:rgba(240, 240, 240, 0.3);
		border-radius:10px;

	}
	h4 {
		font-size:11px;
		text-align:right;
		font-family: family;
	}
}

.footer {
	background-image:url("/assets/footer-bg.png"); 
	-webkit-box-shadow: 0px -3px 4px rgba(50, 50, 50, 0.39);
	-moz-box-shadow:    0px -3px 4px rgba(50, 50, 50, 0.39);
	box-shadow:         0px -3px 4px rgba(50, 50, 50, 0.69);
	position:absolute; margin:120px 0;
	width:100%; 
	font-size:13px;
	
		li {
			& :hover {
					color:#313131;
					-webkit-transition: all 0.6s ease-in-out;
					-moz-transition: all 0.6s ease-in-out;
					-o-transition: all 0.6s ease-in-out;
					transition: all 0.6s ease-in-out;
				}
			}
		.footer-bg {
			background-color:rgba(240, 240, 240, 0.5);
		}
		a {
			font-weight:bold;
		}



	.left-footer-nav {

		p {
			letter-spacing: -1px;
			font-size:14px;
			top:20px; position:relative;

			a {
				&:hover {
					color: #000;
				}
			}
		}
		
	}
	.right-footer-nav {
		text-align:right;	
		font-size: 14px;
		
		
		.right-nav {
			list-style: none;
		}
	}

}
.footer-links {
	
	font-size:11px;

		p, li {
		
			& :hover {
					color:#313131;
					-webkit-transition: all 0.6s ease-in-out;
					-moz-transition: all 0.6s ease-in-out;
					-o-transition: all 0.6s ease-in-out;
					transition: all 0.6s ease-in-out;
				}
			}
}




@import url(http://fonts.googleapis.com/css?family=Cantora+One);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
