/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.

*/



.blog {
	h4 {
		font-family: 'Cantora One', sans-serif;
		font-size: 26px;
		color:#FAC207;
		text-align:center;
	}
	li {
		font-size: 14px;
		font-family: sans-serif;
	}
}

