/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.

*/
.testing {
	max-width:600px;
	width:100% !important;
}
.go_back {
	float:right;color:black;letter-spacing:4px;font-size:14px;
	
	& :hover {
		color:#313131;
	}
}

.blog {
	box-shadow:0px 0px 2px #E1D3D3;
	h4 {
		font-family: 'Cantora One', sans-serif;
		font-size: 26px;
		color:#FAC207;
		text-align:center;
	}
	li {
		font-size: 14px;
		font-family: sans-serif;
	}
}

