/*
  Welcome animation with jquery
*/
.welcome-msg {

	letter-spacing:1px;
	color:blue;
	span {
		display: none;
		font-size:12px;
		font-family: arial,helvetica,sans-serif;
	}
}
/*
  Title of pages
*/
.glava-top, h6 {
	background-color:rgba(240, 240, 240, 0.0);
	font-family: 'Cantora One', sans-serif;
	color:#FAC207; 
	font-size:15px;
}
.glava {
	background-color:rgba(240, 240, 240, 0.1);
	font-family: 'Indie Flower', cursive;
	font-size:38px;
	letter-spacing:1px;

		h6 {
			font-family: 'Cantora One', sans-serif;
			color:#FAC207; 
			font-size:15px;
			}
		h4 {
			background-color:rgba(240, 240, 240, 0.0);
		}	
		h3 {
			letter-spacing:4px;
			font-size:26px;width:300px;margin:0 auto;
			font-family: 'Cantora One', sans-serif;
			color:#FAC207;background-color:whitesmoke;border-radius:25px 25px 0 0;
			text-align:center;
		}
		p {
			font-size: 14px;text-align:center;
			color:black;background-color:whitesmoke;border-radius:0 0 10px 10px;
			font-weight: bold;
			letter-spacing:1px;
				span {
					color:red;
				}
		}
		.link:hover{
			color:#313131;
		}	

		.logo {
			-webkit-transition:ease 1.6s all;
			-moz-transition:ease 1.6s all;
			-o-transition:ease 1.6s all;
			-ms-transition:ease 1.6s all;
			transition:ease 1.6s all;
			position:relative;z-index:2;
		}

			.logo:hover {
				-webkit-transform:rotateZ(360deg);
				-moz-transform:rotateZ(360deg);
				-o-transform:rotateZ(360deg);
				-ms-transform:rotateZ(360deg);
				transform:rotateZ(360deg);
			}			
}
/*
  Div about me 
*/
.about_me {
	background-color:rgba(240, 240, 240, 0.8);
	box-shadow:0px 3px 12px #E1D3D3;
	opacity:0.9;
	img {
		
		border:3px solid #A8B2DC;
		float:left;
	}
	p {
		position:relative;
		right:-10px;
		font-size:13px;
		font-family: 'Cantora One', sans-serif;
	}
}
/*
  My hobbie's
*/
.hobbi {
	background-color:rgba(240, 240, 240, 0.8);
	font-size:13px;
	font-family: 'Cantora One', sans-serif;
	box-shadow:0px 3px 12px #E1D3D3;	
		h4,p {
			text-align:center;
			font-family: family;
		}

	img {
		border:3px solid #A8B2DC;
	}
}

/*
  List of blogs in blog page
*/
.blogs {
	border-top:solid 2px #ACBBCD;

	.clanki	{
		.okvir {
			box-shadow:0px 6px 12px #E1D3D3;
			background-color:rgba(240, 240, 240, 0.8);
			.legend {
				font-size:7px;
				letter-spacing:1px;
			}
		}
		.okvir:hover {
			box-shadow:0px 0px 2px #E1D3D3;
		}		
		.naslov {
			color:black;
			font-size:22px;
			font-weight:bold;
			font-family: 'Cantora One', sans-serif;	
			letter-spacing:1px;
			-webkit-transition: all 0.6s ease-in-out;
			-moz-transition: all 0.6s ease-in-out;
			-o-transition: all 0.6s ease-in-out;
			transition: all 0.6s ease-in-out;
			& :hover {
				color:#FBCC32;
			}	
		}
		.ustvarjen {
			font-size:9px;
		}	
		.opis {
			
			font-size:12px;
			font-weight:bold;
			color:black;
		}	
		.show-more {
			color:black;
			letter-spacing:4px;
			font-size:12px;
			float:right;
			font-family: 'Cantora One', sans-serif;
			-webkit-transition: all 0.6s ease-in-out;
			-moz-transition: all 0.6s ease-in-out;
			-o-transition: all 0.6s ease-in-out;
			transition: all 0.6s ease-in-out;
		
			& :hover {
				color:#F9C207;
			}
		}			
	}
}	
/*
  My Projects
*/
.work-list {
	list-style:none;
}
.project-all {
	background-color:white;
	text-align:left;
	font-family: 'Cantora One', sans-serif;
	letter-spacing:0px;
	p {	
		font-size:12px;
	}
}
.project {
	font-family: 'Cantora One', sans-serif;font-weight:bold;letter-spacing:-1px;
}
.red {
	color:red;
	font-size:20px; letter-spacing:-1px;
}
.white {
	color:white;
	font-size:15px;
}
.blue {
	color:blue;
	font-size:15px;
}
.siva-bg {
	background-color:#BABABA;
}
.red-bg {
	background-color:#F62F26;
}
.blue-bg {
	background-color:#0976FB;
}
.blur {
	text-align:center;
	text-shadow: 0 0 3px #000, 3px 0 3px #000, 0 3px 3px #000, -3px 0 3px #000, 0 -3px 3px #000;
	letter-spacing:1px;
}
.bottom-project {
	border-bottom:1px solid black;
	-webkit-box-shadow:0 4px 5px #949494;
	-moz-box-shadow:0 4px 5px #949494;
	-o-box-shadow:0 4px 5px #949494;
	-ms-box-shadow:0 4px 5px #949494;
	box-shadow:0 4px 5px #949494;
}

@import url(http://fonts.googleapis.com/css?family=Cantora+One);