/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.

*/



.glava {
	background-color:white;
	font-family: 'Indie Flower', cursive;
	font-size:38px;
	letter-spacing:1px;
	
		h3 {
			letter-spacing:4px;
			font-size:26px;
			font-family: 'Cantora One', sans-serif;
			color:#FAC207;
		}
		p {
			font-size: 16px;
			color:black;
				span {
					color:red;
				}
		}
		.link:hover{
			color:#313131;
		}	

		.logo {
			-webkit-transition:ease 1.6s all;
			-moz-transition:ease 1.6s all;
			-o-transition:ease 1.6s all;
			-ms-transition:ease 1.6s all;
			transition:ease 1.6s all;
			position:relative;
		}

			.logo:hover {
				-webkit-transform:rotateZ(360deg);
				-moz-transform:rotateZ(360deg);
				-o-transform:rotateZ(360deg);
				-ms-transform:rotateZ(360deg);
				transform:rotateZ(360deg);
			}

			
}
.about_me {
	background-color:#F0F0F0;
	
	img {
		border:3px solid #A8B2DC;
		float:left;
	}
	p {
		position:relative;
		right:-10px;
		font-size:13px;
		font-family: 'Cantora One', sans-serif;
	}

}

.hobbi {
	background-color:#F0F0F0;
	font-size:13px;
	font-family: 'Cantora One', sans-serif;	
		h4,p {
			text-align:center;
			font-family: family;
		}

	img {
		border:3px solid #A8B2DC;
	}
}


.blogs {
	border-top:dotted 1px black;
	.clanki	{
		.naslov {
			font-size:14px;
			font-family: family;
			letter-spacing: 1px;
			
		}
		.ustvarjen {
			font-size:10px;
		}	
		.opis {
			font-size:13px;
			font-family: family;	
		}
	}
}	

@import url(http://fonts.googleapis.com/css?family=Cantora+One);